body { 
    font-family: sans-serif;
    padding: 20px;
    line-height: 1.6;
    background: #d6d6d6;
    display: flex;
    justify-content: center;
}

.painel {
    background-color: white;
    padding: 20px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

input { 
    width: 94%;
    padding: 8px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #000;
}

button {
    width: 100%;
    padding: 10px;
    cursor: pointer;
    background-color: #2b7cff;
    color: white;
    border-radius: 5px;
    border: none;
}

h3 {
    text-align: center;
}
button:hover{
    background: #1f5fd1;
}